body {
    background: #3944BC;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
}

search {
    background: #377416;
    color: #000;
    padding: 20px;
    border-radius: 5px;
}

a {
    color: #FFF;
}

header {
    padding: 1rem 0;
    text-align: center;
}
nav {
    margin: 10px;
    text-align: center;
}
nav a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}